@import 'https://fonts.googleapis.com/css?family=Rubik:400,700';

body {
  background: url(../images/logo-outline.svg) no-repeat center top;
  font: calc(14px + 1vw)/1.5 Rubik, sans-serif;
  margin: 0;
  padding: 0 3rem;
}

h1, h2, h3, h4, p, blockquote, code, ul, ol {
  margin: 0 0 1.5rem;
}

h1 {
  margin-top: 0;
  font-size: 2.252em;
}
h2 { font-size: 1.838em; }
h3 { font-size: 1.501em; }
h4 { font-size: 1.225em; }
small {font-size: 0.816em;}
a { color: inherit; }

.page {
  box-sizing: border-box;
  max-width: 40rem;
  min-height: 100vh;
  margin: 3rem auto;
}

.page > footer {
  margin-top: 3rem;
}
