---
---

@charset "utf-8";

@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

body {
  padding: 3em 1em;
}

a {
  border-bottom: 1px solid $light-gray;
}

header {
  @include outer-container;
  h1 {
    background: url(../images/logo.png) no-repeat center center;
    background-size: 106px;
    padding-bottom: 200px;
    text-align: center;
    text-indent: -10000em;
  }
}

section {
  @include outer-container;
}

.home {
  & {
    @include span-columns(6);
    @include shift(3);
    @include omega;
  }
  @include media($large) {
    @include span-columns(6);
    @include shift(1);
    @include omega;
  }
  @include media($medium) {
    @include span-columns(4);
    @include shift(0);
    @include omega;
  }
  @include media($small) {
    @include span-columns(2);
    @include shift(0);
    @include omega;
  }
  h2 {
    font-weight: normal;
    font-size: 2em;
    text-align: center;
  }
  p {
    text-align: justify;
  }
}
