---
---

@charset "utf-8";

body {
  font: 24px/1.5 franklin-gothic-urw, sans-serif;
  color: #404040;
}

h2 {
  font-family: jubilat, serif;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
  line-height: 1.2;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit;
}

header {
  h1 {
    background: url(../images/logo.png) no-repeat center center;
    background-size: 106px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid;
    margin: 100px auto;
    text-align: center;
    text-indent: -10000em;
  }
}

.text {
  & {
    max-width: 30em;
    margin: 0 auto;
    padding: 0 1em;
  }
}

#repos {
  & {
    background: #404040;
    color: #ff9;
    padding: 5em;
    margin-top: 10em;
    text-align: center;
    position: relative;
    font-weight: 300;
  }
  h2 {
    font-weight: 300;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .octicon-logo-github {
    font-size: 1em;
    vertical-align: text-bottom;
  }
}

.repo {
  & {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    background-color: #404040;
    display: block;
    width: 10em;
    height: 10em;
    border: 3px solid;
    padding: 1em;
    margin: 0.5em;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  &:hover a {
    background-color: #ff9;
    color: #404040;
  }
  .desc {
    font-size: 0.8em;
    line-height: 1;
  }
  .stars {
    position: relative;
  }
  .stars-count {
    position: relative;
    line-height: 5;
    color: #404040;
    font-size: 0.8em;
  }
  .octicon-star {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 4em;
  }
  .stars-count, .octicon-star {
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    .stars-count {
      color: #ff9;
    }
    .octicon-star {
      color: #404040;
      transform: scale(1.2);
    }
  }
}
