@import "../fonts/stylesheet.css";

* {
  box-sizing: border-box;
}

body {
  font: calc(20px + 2.5vw)/1 aileronblack, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
}

a {
  color: inherit;
  transition: color ease-in-out 0.5s;
}

.gray {
  color: #333;
}

.logo {
  > img {
    position: relative;
  }
}

.backgrounds {
  & {
    background: white;
    transition: background-color ease-in-out 0.2s;
    border: 1px black solid;  // rendering issues
  }
  > * {
    opacity: 0;
    object-fit: cover;
  }
}

.about {
  & {
    padding: 3rem;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: inherit;
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem;
  }
}

footer {
  padding: 3rem;
  font-size: 40%;
}

@media (min-width: 800px) {
  .logo {
    & {
      width: 50%;
      padding-bottom: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
    > img {
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  footer {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 800px) {
  .backgrounds {
    & {
      position: absolute;
      width: 100%;
      padding-bottom: calc(100% - 4px);  // rendering issues
    }
    > * {
      display: none;
    }
  }
  .about, footer {
    text-align: center;
  }
}
