@import "../fonts/stylesheet.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font: 60px/1 aileronblack, sans-serif;
}

a {
  color: white;
  transition: color ease-in-out 0.5s;
}

a:hover {
  color: red;
}

.gray {
  color: #333;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  & {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
  }
  > img {
    height: 100%;
    position: relative;
  }
}

.backgrounds {
  & {
    background: white;
    transition: background-color ease-in-out 0.2s;
  }
  > * {
    opacity: 0;
    height: 100%;
    object-fit: cover;
  }
}

.about {
  padding: 1em;
  a {
    text-decoration: none;
  }
  h1 {
    font-size: inherit;
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li > ul {
    padding-left: 1em;
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  font-size: 20px;
}
