<!doctype html>
<html>
<head>
  <title>{% block title %}{{ this.title }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block opengraph %}
  <meta property="og:title" content="{{ this.title }}">
  <meta property="{{ "/static/opengraph.jpg"|asseturl }}">
  {% endblock %}
  {% block css %}
  <script src="//use.typekit.net/juv4olr.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.2.0/octicons.min.css">
  <link rel="shortcut icon" href="{{ "/static/favicon.ico"|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
  {% endblock %}
  {% block script %}
  <script src="{{ '/static/gen/app.js'|asseturl }}"></script>
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
