{% extends "layout.html" %}

{% block body %}
<div class="about">
  <h1>Mark <em>Steve</em> Samson</h1>
  <ul>
    <li class="gray">web apps &amp; open source</li>
    <li>Steve <span class="gray">irl</span></li>
    <li>
      marksteve <span class="gray">online</span>
      <ul>
        <li><a href="https://github.com/marksteve">github</a></li>
        <li><a href="https://twitter.com/marksteve">twitter</a></li>
      </ul>
    </li>
    </li>
    <li>
      <a href="https://blankhq.com">blankhq.com</a>
      <span class="gray">cto</span>
    </li>
    <li>
      <a href="https://python.ph">python.ph</a>
      <span class="gray">president</span>
    </li>
  </ul>
</div>
<footer>
  <a href="https://github.com/marksteve/marksteve.github.io">Source</a>
</footer>
{% endblock %}
