@import "../neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 1200px;

// Neat Breakpoints
$small: new-breakpoint(max-width 320px 2);
$medium: new-breakpoint(max-width 640px 4);
$large: new-breakpoint(max-width 1000px 8);
